body {
    background-image: url('../img/background/blue.jpg');
    background-size: cover;
    margin: 0;
    background-color: rgba(11, 121, 211, 0.8);
}

button, img {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: max-content;
}

li {
    margin: 0 20px;
}

.main-container {
    width: 80vw;
    margin: 0 auto;
    border: 1px solid black;
}