body {
    background-image: url('../img/background/blue.jpg');
    background-size: cover;
    margin: 0;
    background-color: rgba(11, 121, 211, 0.8);
    text-align: center;
}

button, img {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: max-content;
}

li {
    margin: 0 20px;
}

header {
    height: 10vh;
    border: 1px solid black;
}

nav {
    height: max-content;
}

.main-container {
    width: 80vw;
    margin: 0 auto;
    border: 1px solid black;
}


.collection{
    max-width: 80vw;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
    grid-template-rows: repeat(auto-fill, minmax(100px, 150px));
    grid-gap: 5px;
}

.gallery-item {
    border: 1px solid black;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hover image Gallery */
.gallery-item:hover .gallery-img {
    opacity: 0.3;
}

.gallery-item:hover .middle {
  opacity: 1;
}
.what-next-modal {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    position: absolute;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 4em;
    left: 5em;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }