button, select {
    background-color: rgba(255, 255, 255, 0.541);
    border: none;
    font-weight: bold;
}

button:hover, select:hover {
    background-color: rgba(255, 255, 255, 0.774);
}

button, img {
    cursor: pointer;
}

/* ---Layout--- */

/* Header */

.input-container {
    margin: 20px;
    padding: 20px;
}

#search-input {
    margin-bottom: 5px;
    background: none;
    border: 0.1em solid white;
    height: 27px;
    margin-right: 5px;
    color: white;
    padding-left: 5px;
}

/* Popular list */

.popular-list {
    display: flex;
    color: white;
    font-size: 0.7em;
    margin-bottom: 5px;
    align-items: center;
}

.popular-list>* {
    margin: 0 10px;
}

/* Footer */

footer {
    position: relative;
    color: white;
    width: max-content;
    margin: 0 auto;
    padding: 0.25em;
    font-size: 1em;
    font-style: italic;
    font-family: 'Raleway';
    bottom: -38px;
}

/* Editor */

.editor-modal {
    position: fixed;
    top: 0;
    width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
}

.close-modal-button {
    width: 50px;
    height: 20px;
    margin: 15px;
}

.editor-modal input {
    color: white;
    background: none;
    border: none;
    border-bottom: 2px white solid;
    outline-style: none;
}

.modal-content {
    text-align: center;
}

.txt-buttons {
    display: flex;
    flex-direction: column;
}

.txt-buttons button, select {
    border: none;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
}

.txt-buttons a {
    text-decoration: none;
    color: black;
}
.svg-buttons {
    border-radius: 20%;
    margin: 5px;
    width: 50px;
    height: 50px;
}

.saved-to-gallery {
    background-color: rgba(42, 199, 42, 0.692);
    color: white;
}

#direction-arrow::before {
    content: url('../img/svgs/direction-arrow.svg');
}

#right-aligned::before {
    content: url('../img/svgs/direction-arrow.svg');
}

#right-aligned {
    transform: rotateY(180deg);
}

#up-aligned {
    transform: rotate(90deg);
}

#up-aligned::before {
    content: url('../img/svgs/direction-arrow.svg');
}

#down-aligned {
    transform: rotate(-90deg);
}

#down-aligned::before {
    content: url('../img/svgs/direction-arrow.svg');
}

#bigger::before {
    content: url('../img/svgs/increase-font-size.svg');
}

#smaller::before {
    content: url('../img/svgs/decrease-font-size.svg');
}

#download-file::before {
    content: url('../img/svgs/download-file.svg');
}

#trash::before {
    content: url('../img/svgs/trash_2.svg');
}

/* Canvas */

canvas {
    border: 1px solid white;
}

.jscolor {
    width: 60px;
    border: none;
    padding: 5px;
    margin: 5px;
}

/* Utils  */

.hide {
    display: none;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.resize {
    width: 200px;
    height: 200px;
}

.button1 {
    cursor: pointer;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    .button1 {
        display: block;
        margin: 0.4em auto;
    }
}