body {
    margin: 0;
}

.main-container {
    width: 80vw;
    margin: 0 auto;
    border: 1px solid black;
}

/* Layout */

.gallery {
    max-width: 80vw;
    max-height: 100vh;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,150px));
    grid-template-rows: repeat(auto-fill, minmax(100px, 150px));
    grid-gap: 5px;
}

.gallery-item {
    border: 1px solid black;
}

.gallery img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Editor */

.editor-modal {
    position: fixed;
    top: 0;
    /* padding: 50px; */
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid black;
}

/* Canvas */

canvas {
    border: 1px solid white;
    /* width: 100px;
    height: 100px; */
}

/* Utils  */

.hide {
    display: none;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}