button, select {
    background-color: rgba(255, 255, 255, 0.541);
    border: none;
    font-weight: bold;
}

button:hover, select:hover {
    background-color: rgba(255, 255, 255, 0.774);
}

button, img {
    cursor: pointer;
}

/* ---Layout--- */

/* Header */

.input-container {
    margin: 20px;
    padding: 20px;
}

#search-input {
    margin-bottom: 5px;
}


/* Popular list */

.popular-list {
    display: flex;
    color: white;
    font-size: 0.7em;
    margin-bottom: 5px;
    align-items: center;
}

.popular-list > * {
    margin: 0 10px;
}

/* Footer */

/* Editor */

.editor-modal {
    position: fixed;
    top: 0;
    width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
}

.close-modal-button {
    width: 50px;
    height: 20px;
    margin: 15px;
}

.editor-modal input {
    color: white;
    background: none;
    border: none;
    border-bottom: 2px white solid;
    outline-style: none;
}

.modal-content {
    text-align: center;
}

.txt-buttons {
    display: flex;
    flex-direction: column;
}

.txt-buttons button , select{
    border: none;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
}

.svg-buttons {
    border-radius: 20%;
    margin: 5px;
    width: 50px;
    height: 50px;
}

#direction-arrow::before {
    content: url('../img/svgs/direction-arrow.svg');
}


#right-aligned::before {
    content: url('../img/svgs/direction-arrow.svg');
}

#right-aligned {
    transform: rotateY(180deg);
}


#up-aligned {
    transform: rotate(90deg);
}

#up-aligned::before {
    content: url('../img/svgs/direction-arrow.svg');
}

#down-aligned {
    transform: rotate(-90deg);
}

#down-aligned::before {
    content: url('../img/svgs/direction-arrow.svg');
}

#bigger::before {
    content: url('../img/svgs/increase-font-size.svg');
}

#smaller::before {
    content: url('../img/svgs/decrease-font-size.svg');
}

#download-file::before {
    content: url('../img/svgs/download-file.svg');
}
#trash::before {
    content: url('../img/svgs/trash.svg');
}

/* Canvas */

canvas {
    border: 1px solid white;
}

.jscolor {
    width: 60px;
    border: none;
    padding: 5px;
    margin: 5px;
}

/* Utils  */

.hide {
    display: none;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.resize {
    width: 200px;
    height: 200px;
}