@import url("https://fonts.googleapis.com/css?family=Raleway:100i,400");
@media (min-width: 0px) {
    body {
        -webkit-perspective: 250px;
        perspective: 250px;
    }
    .main-gallery >  #wall {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        overflow: auto;
        top: 145px;
        height: 500px;
    }
    .main-gallery > .header {
        padding: 0.5em;
        margin: 0 4em;
    }

    .main-gallery > #wall > .row {
        height: 140px;
    }
    .header span {
        display: none;
    }

    footer {
        bottom: -115px;
    }

    .input-container {
        order: 1;
        width: 100vh;
        height: max-content;
        margin: 0;
    }

    canvas {
        width: 70vw;
        height: 70vw;
    }
}

@media (min-width: 700px) {
    body {
        -webkit-perspective: 500px;
        perspective: 500px;
    }
    .main-gallery >  #wall {
        -webkit-transform: rotateY(45deg);
        transform: rotateY(45deg);
        overflow: unset;
        top: 0;
    }
    .main-gallery > #wall > .row {
        height: 250px;
    }
    .header span {
        display: inherit;
    }

    .main-gallery > .header {
        padding: 0.5em;
        margin: 0 0.5em;
    }

    footer {
        bottom: -38px;
    }
    canvas {
        width: unset;
        height: unset;
    }

    .input-container {
        width: 50vw;
        height: max-content;
    }

}

@media (min-width: 1200px) {
    body {
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
}

@media (min-width: 1600px) {
    body {
        -webkit-perspective: 2000px;
        perspective: 2000px;
    }
    
}


body {
    background: #090909;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: hidden;
}

.header {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 0;
    color: #CCC;
    padding: 2em;
    font-family: 'Raleway';
    z-index: 5;
    font-size: 20px;
    letter-spacing: 0.25em;
    text-align: center;
}

.header h1 {
    font-weight: 400;
    font-size: 1em;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}

.header span {
    padding: 0.25em;
    font-size: 0.75em;
    font-style: italic;
    text-transform: lowercase;
}

.popular-list > * {
    cursor: pointer;
}

.popular-list > .popular-0 {
    font-size: 1.5em;
}

.popular-list > .popular-1 {
    font-size: 1em;
}

.popular-list > .popular-2 {
    font-size: 0.8em;
}

.popular-list > .popular-3 {
    font-size: 0.5em;
}

.social {
    display: flex;
    margin-top: 0.5em;
}

.social a {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    margin: 0px 0.75em;
}

.social a img {
    width: 100%;
    height: 100%;
}

#wall {
    position: relative;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
    width: 100%;
    height: 100%;
    -webkit-animation: 10s linear move;
    animation: 10s linear move;
}

#wall .row {
    position: relative;
    display: flex;
    height: 250px;
    margin-bottom: 10px;
}

#wall .row img {
    height: 100%;
    margin: 5px;
}

#wall .row img:hover {
    transform: scale(1.2);
    z-index: 1;
    position: inherit;
}

#wall .row .frame {
    position: relative;
    height: 100%;
}

#wall .row .frame .reflection {
    position: absolute;
    height: 100%;
    -webkit-transform: rotateX(180deg) translateY(-10px);
    transform: rotateX(180deg) translateY(-10px);
    opacity: 0.25;
}

#wall .row .frame::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#090909 75%, transparent);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: rotateX(180deg) translateY(-20px);
    transform: rotateX(180deg) translateY(-20px);
}

/* Util */

